@model AutomaxWebSite.Models.Vehicle
@using AutomaxWebSite.LocalResource
@using Our.Umbraco.Vorto.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.Content.GetVortoValue("seoTitle")</title>
    <link rel="shortcut icon" href="/assets/images/top_icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body onload="window.print()">
    <div>
        <div style="min-height: 10.50in;">
            <div>
                <div>
                    <h2 style="padding: 20px; border-bottom: 2px solid orangered">@(Model.Information.YearID + " " + Model.Information.VehicleMake + " " + Model.Information.AutoModelID)</h2>
                </div>
                <div>
                    <div class="print-rating">
                        <div style="width: 100%; box-sizing: border-box; margin: 0 auto;">
                            <div style="position: relative; padding: 10px; text-align: center;">
                                <img style="height: 100px; width: auto; float: left;" src="http://www.automax.online/assets/images/auto_eva_old.png">
                                @if (!string.IsNullOrEmpty(Model.VehicleImage))
                                {
                                    <img style="height: 150px; width: auto;" src="@Model.VehicleImage">
                                    <!-- <img style="width: 50%;"  src="@Model.VehicleImage"> -->
                                }
                                else
                                {
                                    <img style="height: 150px; width: auto;" src="/assets/images/audi-q7-2014-s-line-wallpaper-2.jpg">
                                }
                                <div style="display: inline-block; padding: 10px; border: 2px dashed orangered; float: right;"> 
                                @if (Model.Vir.Ratting > 0)
                                {
                                    <span style="font-size: 65px; display: inline-block; color: orangered;">@String.Format("{0:0.00}", Model.Vir.Ratting)</span>
                                }
                                else
                                {
                                    <span style="font-size: 65px; display: inline-block; color: orangered;">4.0</span>
                                }       
                                </div>
                                <span style="content:' '; display: table; clear: both;"></span>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 10px; width: 100%;">
                        <div style="padding: 5px 20px; border-bottom: 2px solid orangered; margin-bottom: 5px;" class="print-item-title">
                            <h2>@Resource.VehicleSpecifications</h2>
                        </div>
                        <div style="padding-bottom: 20px; border-bottom: 2px solid orangered;">
                            <ul style="list-style: none; padding: 0; margin: 0;">
                                <li>
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.OverallGrade</span>
                                        <span style="color: grey; float: right;">@Model.Information.Rating</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.VehicleType </span>
                                        <span style="color: grey; float: right;">@(!string.IsNullOrEmpty(Model.Information.VehicleName) ? Model.Information.VehicleName : "N/A")</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <span style="content:' '; display: table; clear: both;"></span>
                                </li>
                                <li style="background-color: rgba(215, 215, 215, 0.8);">
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Odometer</span>
                                        <span style="color: grey; float: right;">@(!string.IsNullOrEmpty(Model.Information.Odometer) ? Model.Information.Odometer : "N/A")</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Vin #</span>
                                        <span style="color: grey; float: right;">@(!string.IsNullOrEmpty(Model.Information.VIN) ? Model.Information.VIN : "N/A")</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <span style="content:' '; display: table; clear: both;"></span>
                                </li>
                                <li class="list-item">
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Engine</span>
                                        <span style="color: grey; float: right;">@(!string.IsNullOrEmpty(Model.Information.AutoEngineID) ? Model.Information.AutoEngineID : "N/A")</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Doors</span>
                                        <span style="color: grey; float: right;">@(!string.IsNullOrEmpty(Model.Information.Door) ? Model.Information.Door : "N/A")</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <span style="content:' '; display: table; clear: both;"></span>
                                </li>
                                <li style=" background-color: rgba(215, 215, 215, 0.8);">
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Transmission</span>
                                        <span style="color: grey; float: right;">@(!string.IsNullOrEmpty(Model.Information.AutoTransmissionID) ? Model.Information.AutoTransmissionID : "N/A")</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.FuelType</span>
                                        <span style="color: grey; float: right;">@(!string.IsNullOrEmpty(Model.Information.FuelTypeID) ? Model.Information.FuelTypeID : "N/A")</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <span style="content:' '; display: table; clear: both;"></span>
                                </li>
                                <li class="list-item">
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Stock #</span>
                                        <span style="color: grey; float: right;">@(!string.IsNullOrEmpty(Model.Information.StockNumber) ? Model.Information.StockNumber : "N/A")</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.DriveType</span>
                                        <span style="color: grey; float: right;">@(!string.IsNullOrEmpty(Model.Information.DriveType) ? Model.Information.DriveType : "N/A")</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <span style="content:' '; display: table; clear: both;"></span>
                                </li>
                                <li style=" background-color: rgba(215, 215, 215, 0.8);">
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Interior</span>
                                        <span style="color: grey; float: right;">@Model.Information.Interior</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Exterior</span>
                                        <span style="color: grey; float: right;">@Model.Information.Exterior</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <span style="content:' '; display: table; clear: both;"></span>
                                </li>
                                <li class="list-item">
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Plate #</span>
                                        <span style="color: grey; float: right;">@Model.Information.FuelType</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <div style="padding: 10px 1%; width: 48%; float: left; display: block;">
                                        <span style="font-weight: 600; float: left;">@Resource.Price</span>
                                        <span style="color: grey; float: right;">@String.Format("{0:#,##0}", Model.Information.Price) SAR</span>
                                        <span style="content: ' '; display: table; clear: both;"></span>
                                    </div>
                                    <span style="content:' '; display: table; clear: both;"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="exterior-svg" style="min-height: 10.50in;">
            <h2 style="padding: 5px 20px; border-bottom: 2px solid orangered;">@Resource.ExteriorParts</h2>
            @Html.Partial("~/Views/Partials/Print/Exterior.cshtml", Model.Vir.Exterior)
            </div>
        <div id="interior-svg" style="min-height: 10.50in;">
            <h2 style="padding: 5px 20px; border-bottom: 2px solid orangered;">@Resource.InteriorParts</h2>
            @Html.Partial("~/Views/Partials/Print/Interior.cshtml", Model.Vir.Interior)
            </div>
        <div id="mechanic-svg" style="min-height: 10.50in;">
            <h2 style="padding: 5px 20px; border-bottom: 2px solid orangered;">@Resource.MechanicParts</h2>
            @Html.Partial("~/Views/Partials/Print/Mechanic.cshtml", Model.Vir.Mechanics)
            </div>
        <div id="frame-svg" style="min-height: 10.50in;">
            <h2 style="padding: 5px 20px; border-bottom: 2px solid orangered;">@Resource.FrameParts</h2>
            @Html.Partial("~/Views/Partials/Print/Frame.cshtml", Model.Vir.Frame)
        </div>
@if (ViewBag.Gallery.Count != 0)
{
    <div id="gallery" style="min-height: 11in;">
        <h2 style="padding: 5px 20px; border-bottom: 2px solid orangered;">@Resource.Gallery</h2>
        <div>
            @foreach (var item in ViewBag.Gallery)
            {


                <div style="width: 31%; padding: 0 1%; margin: 10px 0; float: left;">
                    <img style="width: 100%; height: auto;" src="@(@item.ImagePath.StartsWith("http://") ? "" + @item.ImagePath + "" : "http://dms.automax.online/" + @item.ImagePath + "")">
                </div>

            }

        </div>
    </div>
}

@if (ViewBag.ExteriorImages.Count != 0 || ViewBag.InterorImages.Count != 0 || ViewBag.MechanicsImages.Count != 0 || ViewBag.FrameImages.Count != 0)
{
    <div id="ex-parts-images" style="min-height: 10.50in;">
       
            
                <h2 style="padding: 5px 20px; border-bottom: 2px solid orangered;">@Resource.DamageParts </h2>
            
               
        <div>

            @foreach (var item in ViewBag.ExteriorImages)
            {


                <div style="width: 31%; padding: 0 1%; margin: 10px 0; float: left;">
                    <img style="width: 100%; height: auto;" src="@(@item.ImagePath.StartsWith("http://") ? "" + @item.ImagePath + "" : "http://dms.automax.online/" + @item.ImagePath + "")">
                </div>

            }
            @foreach (var item in ViewBag.InterorImages)
            {


                <div style="width: 31%; padding: 0 1%; margin: 10px 0; float: left;">
                    <img style="width: 100%; height: auto;" src="@(@item.ImagePath.StartsWith("http://") ? "" + @item.ImagePath + "" : "http://dms.automax.online/" + @item.ImagePath + "")">
                </div>

            }
            @foreach (var item in ViewBag.MechanicsImages)
            {


                <div style="width: 31%; padding: 0 1%; margin: 10px 0; float: left;">
                    <img style="width: 100%; height: auto;" src="@(@item.ImagePath.StartsWith("http://") ? "" + @item.ImagePath + "" : "http://dms.automax.online/" + @item.ImagePath + "")">
                </div>

            }
            @foreach (var item in ViewBag.FrameImages)
            {


                <div style="width: 31%; padding: 0 1%; margin: 10px 0; float: left;">
                    <img style="width: 100%; height: auto;" src="@(@item.ImagePath.StartsWith("http://") ? "" + @item.ImagePath + "" : "http://dms.automax.online/" + @item.ImagePath + "")">
                </div>

            }
        </div>
    </div>
}

</div>
</body>
</html>