@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Our.Umbraco.Vorto.Extensions
@{
    Layout = "MasterTemplate.cshtml";
    var i = 1;
}
@section mainArea{
<div class="img-header">
    <div class="img-header-text">@Model.Content.GetVortoValue("bannerHeading")</div>
</div>
 @foreach (var item in Model.Content.GetVortoValue<IEnumerable<IPublishedContent>>("service"))
            {

               
                <div class="service-box">
                    <table class="service-table">
                        <tr class="service-row">
                            @if (i % 2==0)
                            {
                                <td class="service-col" align="right">
                                    <div class="service-text">
                                        <span>@Html.Raw(@item.GetPropertyValue("title"))</span>
                                        <div class="service-bar"></div>
                                    </div>
                                </td>
                                <td class="service-col">
                                    @if (item.HasValue("image"))
                                    {
                                        var img = Umbraco.Media(item.GetPropertyValue<int>("image"));
                                        <img class="img-responsive" src="@img.Url">
                                    }
                                    
                                </td>
                            }
                            else
                            {
                                <td class="service-col" align="right">
                                    @if (item.HasValue("image"))
                                    {
                                        var img = Umbraco.Media(item.GetPropertyValue<int>("image"));
                                        <img class="img-responsive" src="@img.Url">
                                    }
                                </td>
                                <td class="service-col">
                                    <div class="service-text">
                                        <span>@Html.Raw(@item.GetPropertyValue("title"))</span>
                                        <div class="service-bar"></div>
                                    </div>
                                </td>
                            }
                            
                        </tr>
                    </table>
                </div>
     i++;
 }


}
@section jsArea{
}
