@model AutomaxWebSite.Models.CarInformation
@using AutomaxWebSite.LocalResource
<div class="panel-body view-height-250 custom-panel-padding">
    <div class="info-tab-data-row">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Vin</span><span >@(!string.IsNullOrEmpty(Model.VIN) ? @Model.VIN : "N/A")</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Year</span><span >@(!string.IsNullOrEmpty(Model.YearID) ? @Model.YearID : "N/A")</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Make</span><span >@(!string.IsNullOrEmpty(Model.VehicleMake) ? Model.VehicleMake : "N/A")</span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Model</span><span >@(!string.IsNullOrEmpty(Model.AutoModelID) ? Model.AutoModelID : "N/A")</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.ExteriorColor</span><span >@(!string.IsNullOrEmpty(Model.AutoExteriorColorID) ? Model.AutoExteriorColorID : "N/A")</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Condition</span><span >@(!string.IsNullOrEmpty(Model.AutoConditionID) ? Model.AutoConditionID : "N/A")</span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Odometer</span><span >@(!string.IsNullOrEmpty(Model.Odometer) ? Model.Odometer : "N/A")</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.InteriorColor</span><span >@(!string.IsNullOrEmpty(Model.AutoInteriorColorID) ? Model.AutoInteriorColorID : "N/A")</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Audio</span><span >@(!string.IsNullOrEmpty(Model.VehicleAudioID) ? Model.VehicleAudioID : "N/A")</span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Stock</span><span >@(!string.IsNullOrEmpty(Model.StockNumber) ? Model.StockNumber : "N/A")</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Doors</span><span >@Model.Door</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.DriveType</span><span >@(!string.IsNullOrEmpty(Model.DriveType) ? Model.DriveType : "N/A")</span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.BodyStyle</span><span >@(!string.IsNullOrEmpty(Model.AutoBodyStyleID) ? Model.AutoBodyStyleID : "N/A")</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.FuelType</span><span >@(!string.IsNullOrEmpty(Model.FuelTypeID) ? Model.FuelTypeID : "N/A")</span></div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><span>@Resource.Transmission</span><span >@(!string.IsNullOrEmpty(Model.AutoTransmissionID) ? Model.AutoTransmissionID : "N/A")</span></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                @if (System.Globalization.CultureInfo.CurrentCulture.Name == "ar")
                {
                    <span>
                        نوع السقف
                    </span>
                }
                else
                {
                    <span>
                        Roof Type
                    </span>
                }
                <span>@(!string.IsNullOrEmpty(Model.RoofTypeName) ? Model.RoofTypeName : "N/A")</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                @if (System.Globalization.CultureInfo.CurrentCulture.Name == "ar")
                {
                    <span>
                        التنجيد
                    </span>
                }
                else
                {
                    <span>
                        Upholstery
                    </span>
                }
                
                <span>@(!string.IsNullOrEmpty(Model.UpholsteryName) ? Model.UpholsteryName : "N/A")</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                @if (System.Globalization.CultureInfo.CurrentCulture.Name == "ar")
                {
                    <span>
                        محرك
                    </span>
                }
                else
                {
                    <span>
                        Engine
                    </span>
                }
                <span>@(!string.IsNullOrEmpty(Model.EngineName) ? Model.EngineName : "N/A")</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                @if (System.Globalization.CultureInfo.CurrentCulture.Name == "ar")
                {
                    <span>
                        السيارات كيس الهواء
                    </span>
                }
                else
                {
                    <span>Auto Air Bag </span>
                }
                
                <span>@(Model.AutoAirBagID>0 ? Model.AutoAirBagID.ToString() : "N/A")</span>
            </div>
           
        </div>
    </div>
</div>
    
    