@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Our.Umbraco.Vorto.Extensions
@using AutomaxWebSite.Models
@{
    Layout = "MasterTemplate.cshtml";
    var model = new Contact();
}
@section mainArea{
<div class="img-header">
    <div class="img-header-text">@Model.Content.GetVortoValue("navigationName")</div>
</div>
<div class="content-container contact-us-page">
    <div class="row">
        @Html.Raw(@Model.Content.GetVortoValue("content"))
        <p style="display:none;" id="successmessage">@Html.Raw(Model.Content.GetVortoValue("thanksMessage"))</p>
         <div class="col-sm-6 col-md-5 col-lg-4">
            <h4>@Model.Content.GetVortoValue("keepInTouch")</h4>
          
@using (Ajax.BeginForm("ContactForm", "InventorySurface", new { },
        new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
            UpdateTargetId = "callMeResult",
            OnFailure = "ShowError()",
            OnSuccess = "ShowSuccess(data)"
        }, new { @id = "contactForm" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
            <div class="form-group custom-group">
                @Html.TextBoxFor(x => model.Name, new { @class = "form-control custom-control", @placeholder = @Model.Content.GetVortoValue("name") })
                @Html.ValidationMessageFor(x => model.Name)
            </div>
            <div class="form-group custom-group">
               @Html.TextBoxFor(x => model.Email, new { @class = "form-control custom-control", @placeholder = @Model.Content.GetVortoValue("formEmail") })
               @Html.ValidationMessageFor(x => model.Email)
            </div>
            <div class="form-group custom-group">
                @Html.TextBoxFor(x => model.Phone, new { @class = "form-control custom-control", @type = "number", @placeholder = @Model.Content.GetVortoValue("formPhone") })
                @Html.ValidationMessageFor(x => model.Phone)
            </div>
            <div class="form-group custom-group">
                @Html.TextBoxFor(x => model.Subject, new { @class = "form-control custom-control", @placeholder = @Model.Content.GetVortoValue("subject") })
                @Html.ValidationMessageFor(x => model.Subject)
            </div>
            <div class="form-group custom-group">
                @Html.TextAreaFor(x => model.Message, new { @class = "form-control custom-control", @placeholder = @Model.Content.GetVortoValue("message") })
               
            </div>
            <button class="btn btn-custom-orange">@Model.Content.GetVortoValue("button")</button>
}
        </div>
        <div class="col-md-offset-1 col-lg-offset-2 col-sm-6 col-md-6 col-lg-6">
            <h4>@Model.Content.GetVortoValue("office")</h4>
            <div id="map"></div>
            <h4 style="margin-top: 20px;">@Model.Content.GetVortoValue("postalAddress")</h4>
            <div style="margin-top: 15px; color: grey" class="clearfix"><img style="float: left; margin-top: 5px;" src="/assets/images/homeicon.png"><span style="display: inline-block; padding-left: 15px;">
               @Html.Raw(@Model.Content.GetVortoValue("address"))
                </span></div>
            <div style="margin-top: 15px; color: grey"><img src="/assets/images/phoneicon.png"><span style="padding-left: 15px;"> <a href="tel:@Model.Content.GetPropertyValue("phone")">@Model.Content.GetPropertyValue("phone")</a></span></div>
            <div style="margin-top: 15px; color: grey"><img src="/assets/images/faxicon.png"><span style="padding-left: 15px;">@Model.Content.GetPropertyValue("phone")</span></div>
        </div>
        
    </div>
</div>
}
@section jsArea{
          <script type="text/javascript" src="/assets/scripts/contact_us.js"></script>
    }