@model AutomaxWebSite.Models.Vehicle


@{
    Layout = "MasterTemplate.cshtml";
    var model = Model;
    

}
<link rel="stylesheet" type="text/css" href="/assets/plugins/easypiechart/stylesheets/jquery.easy-pie-chart.css">
@section mainArea{
<div class="img-pop-container">
    <div class="img-pop">
        <img class="img-responsive">
    </div>
</div>
<div class="img-header">
    <div class="img-header-text">Vehicle Details</div>
</div>
<div class="img-top-detail"></div>
<ol class="breadcrumb custom-breadcrumb">
    <li class="breadcrumb-item"><a href="@Model.InventoryPage">Inventory Listing</a></li>
    <li class="breadcrumb-item"><a href="javascript:void(0);" onclick="Filter()">
        @Model.Information.VehicleMake</a></li>
    <li class="breadcrumb-item active">@Model.Information.VehicleName</li>
</ol>
<form action="@Model.InventoryPage" method="get">
   
    <input type="hidden" name="Name" value="@Model.Information.VehicleMake" />
    <input type="submit" id="formFiler" style="display:none;"/>
</form>
<div class="detail-item-box">

    <div class="detail-body-title">
        <h3>@Model.Information.VehicleName</h3>
    </div>
    <div class="detail-item-body">
        <div class="detail-item-img ">
        @if (!string.IsNullOrEmpty(Model.VehicleImage))
        {
                    <img src="@Model.VehicleImage" class="img-focusable">
        }
        else
        {
            <img src="/assets/images/audi-q7-2014-s-line-wallpaper-2.jpg" class="img-focusable">
        }
        </div>
        <div class="detail-item-info">
            <div class="detail-item-title">
                <span class="left">Specifications</span>
                <span class="right">PRICE <span class="color-orange"> @Model.Information.Price.ToString("N2") SAR</span></span>
            </div>
            <div class="detail-item-list-box">
                <ul class="detail-item-list">
                    <li class="list-item">
                        <div class="list-sub-item">
                            <span class="title">Stock #</span>
                            <span class="text">@Model.Information.StockNumber</span>
                        </div>
                        <div class="list-sub-item">
                            <span class="title">Body Style</span>
                            <span class="text">@Model.Information.AutoBodyStyleID</span>
                        </div>
                        
                    </li>
                    <li class="list-item">
                        <div class="list-sub-item">
                            <span class="title">Overall Grade</span>
                            <span class="text">@String.Format("{0:0.00}", Model.Vir.Ratting)</span>
                        </div>
                        <div class="list-sub-item">
                            <span class="title">Odometer</span>
                            <span class="text">@Model.Information.Odometer</span>
                        </div>
                        
                       
                    </li>
                    <li class="list-item">
                        <div class="list-sub-item">
                            <span class="title">Doors</span>
                            <span class="text">@Model.Information.Door</span>
                        </div>
                        
                        <div class="list-sub-item">
                            <span class="title">Transformation</span>
                            <span class="text">@Model.Information.AutoTransmissionID</span>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-sub-item">
                            <span class="title">Engine</span>
                            <span class="text">@Model.Information.AutoEngineID</span>
                        </div>
                        <div class="list-sub-item">
                            <span class="title">Fuel Type</span>
                            <span class="text">@Model.Information.FuelTypeID</span>
                        </div>
                       
                    </li>
                    <li class="list-item">
                        <div class="list-sub-item">
                            <span class="title">Drive Type</span>
                            <span class="text">@Model.Information.DriveType</span>
                        </div>
                        <div class="list-sub-item">
                            <span class="title">VIN #</span>
                            <span class="text">@Model.Information.VIN</span>
                        </div>
                    </li>
                    
                    
                    
                    <li class="list-item">
                        <div class="list-sub-item">
                            <span class="title">Interior</span>
                            <span class="text">@Model.Information.AutoInteriorColorID</span>
                        </div>
                        <div class="list-sub-item">
                            <span class="title">Exterior</span>
                            <span class="text">@Model.Information.AutoExteriorColorID</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="detail-item-info-footer">
                <div class="left">
                    <i class="fa fa-phone"></i><a href="tel:+966 565818403">+966 565818403</a>
                </div>
                <div class="right">
                   
                        <span class='st_sharethis_large' displayText='ShareThis'></span>
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
                        <span class='st_pinterest_large' displayText='Pinterest'></span>
                        <span class='st_email_large' displayText='Email'></span>
                   
                    @*<button type="button" class="btn btn-custom-grey"><i class="fa fa-qrcode"></i>QR CODE</button>*@
                    <button type="button" class="btn btn-custom-orange" onClick="window.location.href = '/Umbraco/Surface/InventorySurface/DownloadPdf?vehicleid=@Request["id"]';"><i class="fa fa-print"></i>PRINT</button>
                    <div class="qr-pop-up">
                        <a class="pop-up-anchor" href="javascript:void(0)"><img src="/assets/images/qr.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-container custom-background">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="overall-grader-header">

            </div>
            <ul class="nav nav-tabs">
                @if (Model.Information.Has360)
                {
                    <li><a data-toggle="tab" href="#360_tab">360</a></li>
                }
               
                <li><a data-toggle="tab" href="#video_tab">VIDEO</a></li>
                <li><a data-toggle="tab" href="#gallery_tab">GALLERY</a></li>
                <li class="active"><a data-toggle="tab" href="#vir_tab">TAQEEM RATING</a></li>
                <li><a data-toggle="tab" href="#info_tab">INFORMATION</a></li>
            </ul>
            <div class="tab-content">
            @if (Model.Information.Has360)
            {
                <div id="360_tab" class="tab-pane fade margin-none">
                    <div class="panel panel-default border-top-none">
                        <div style="width:500px;height:350px;padding:20px;">
                            <script src="//dealermade.com/assets/media-layer/v1/dm.js"
                                data-dm-dealership-id="numou-automotive"
                                data-dm-vehicle-vin="@Model.Information.VIN"></script>
                        </div>
                    </div>
                </div>
                
            }
                <div id="video_tab" class="tab-pane fade margin-none">
                    <div class="panel panel-default border-top-none">
                        <div style="padding:20px">
                            @foreach (var item in ViewBag.VideoGallery as List<AutoMax.Models.Entities.VehicleVideoViewModel>)
                            {
                                <embed width="420" height="315" src="@item.VideoPath">
                            }
                        </div>
                    </div>
                </div>
                <div id="gallery_tab" class="tab-pane fade margin-none">
                    <div class="panel panel-default border-top-none">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="gallery-container">
                                        <div class="row">

                                            @foreach (var item in ViewBag.Gallery)
                                            {
                                                var a = @item.ImagePath;
                                                <div class="col-sm-4 col-md-4 col-lg-3">
                                                    <div class="image-item">
                                                        <img class="img-responsive img-rounded gallery-image img-focusable" src="@Model.Url@item.ImagePath">
                                                    </div>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="vir_tab" class="tab-pane fade in active margin-none">
                    <div class="panel panel-default border-top-none">
                        <div class="panel-body">
                            <div class="item-grade">
                                <span class="title">OVERALL GRADE</span><br>
                                <span class="rating">@String.Format("{0:0.00}", Model.Vir.Ratting)</span>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="btn-group btn-group-justified svg-btn-grp">
                                        <a class="btn btn-custom-orange svg-tab-btn active" href="javascript:void(0)" data-target="#exterior_tab">Exterior</a>
                                        <a class="btn btn-custom-orange svg-tab-btn" href="javascript:void(0)" data-target="#interior_tab">Interior</a>
                                        <a class="btn btn-custom-orange svg-tab-btn" href="javascript:void(0)" data-target="#mechanics_tab">Mechanics</a>
                                        <a class="btn btn-custom-orange svg-tab-btn" href="javascript:void(0)" data-target="#frame_tab">Frame</a>
                                        
                                        <a class="btn btn-custom-orange svg-tab-btn" href="javascript:void(0)" data-target="#rating_tab">Grade</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row svg-content m-top-30">
                                @Html.Partial("~/Views/Partials/Vehicle/Exterior.cshtml", Model.Vir.Exterior)  
                                @Html.Partial("~/Views/Partials/Vehicle/Interior.cshtml", Model.Vir.Interior)
                                
                                @Html.Partial("~/Views/Partials/Vehicle/Mechanic.cshtml", Model.Vir.Mechanics)
                                @Html.Partial("~/Views/Partials/Vehicle/Frame.cshtml", Model.Vir.Frame)
                                
                                <div id="rating_tab" class="svg-tab text-center">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6 rating text-center">
                                            <div class="title">OVERALL GRADING</div>
                                            <span class="text">@String.Format("{0:0.00}", Model.Vir.Ratting)</span>
                                                                                        @if (Model.Vir.Ratting < 1)
                                                                                        {
                                                                                            <h3 class="title-scnd">
                                                                                                Poor</h3>
                                                                                                <span class="text-scnd">Numerous defects that may require major repairs</span>
                                                                                        }
                                                                                        else if (Model.Vir.Ratting > 1 && Model.Vir.Ratting < 2)
                                                                                        {
                                                                                            <h3 class="title-scnd">
                                                                                                Average</h3>
                                                                                                <span class="text-scnd">Minor defects that may require moderate repairs</span>
                                                                                        }
                                                                                        else if (Model.Vir.Ratting > 2 && Model.Vir.Ratting < 3)
                                                                                        {
                                                                                            <h3 class="title-scnd">
                                                                                                Good</h3>
                                                                                                <span class="text-scnd">Very minor work is required for smooth drive</span>
                                                                                        }
                                                                                        else if (Model.Vir.Ratting > 3 && Model.Vir.Ratting < 4)
                                                                                        {
                                                                                            <h3 class="title-scnd">Very Good</h3>

                                                                                                <span class="text-scnd">Ready for travel but after full service and tuning</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <h3 class="title-scnd">
                                                                                                Excellent</h3>
                                                                                                <span class="text-scnd">Ready to take a ride for small and long journeys</span>
                                                                                        }
                                                                                       
</div>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info_tab" class="tab-pane fade margin-none">
                    <div class="panel panel-default border-top-none">
                        <div style="padding:20px">
                            @Html.Partial("~/Views/Partials/Vehicle/CarInformation.cshtml", @Model.Information)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    }
@section jsArea{
<script type="text/javascript" src="/assets/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/assets/scripts/detail_page.js"></script>   
<script type="text/javascript" src="/assets/jquery-circle-progress-master/dist/circle-progress.js"></script>
    <script>
     $("#printDownload").on('click', function () {
        $this = $(this);

        var id = $this.data("vehicleid");

        $.ajax({
            type: "GET",
            url: "/Umbraco/Surface/InventorySurface/DownloadPdf",
            data: { vehicleId: id },
            success: function (returndata) {

               

            },
            failure: function (returndata) {


            }
        });
     });
     function Filter(){
         $("#formFiler").click();
     }
</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" id="st_insights_js" src="http://w.sharethis.com/button/buttons.js?publisher=bb1868ab-9cb8-46a2-b3e2-e7fd928c6f59"></script>
<script type="text/javascript">stLight.options({publisher: "bb1868ab-9cb8-46a2-b3e2-e7fd928c6f59", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
}