
@using Our.Umbraco.Vorto.Extensions
@model AutomaxWebSite.Models.WebsiteInventory

@{
    Layout = "MasterTemplate.cshtml";
    var newsDetached = Model.Content.GetVortoValue<string>("heading");
    var u = Request.Url;

}

 @section mainArea{
 <div class="filter-toggle"><a href="#"><i class="fa fa-forward"></i></a></div>
<div class="img-header">
    <div class="img-header-text">@Model.Content.GetVortoValue("navigationName")</div>
</div>
    <div class="content-container">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                 <div class="filter-box">
                     <form action="@Model.Content.Url" method="get" id="inventoryFilter">
                        <!--<div class="hidden-xs hidden-sm filter-box-title">
                              <span>@Model.Content.GetVortoValue("refineSearch")</span>
                        </div>-->
                        <div class="filter-box-container">
                            <div class="filter-box-body">
                                <div class="filter-box-close">
                                    <a><i class="fa fa-close"></i></a>
                                </div>
                                 <div class="form-group custom-group">
                                     <label for="make">@Model.Content.GetVortoValue("vehicleType")</label>
                                     @Html.DropDownListFor(x => x.VehicleTypeID, Model.Type, new { @class = "form-control custom-control" , data_val = false })
                                     @*@Html.DropDownList("Type", null, @Model.Content.GetVortoValue<string>("selectType"), new { @class = "form-control custom-control" })*@

                                 </div>
                                 <div class="form-group custom-group">
                                     <label for="make">@Model.Content.GetVortoValue("make")</label>
                                     @Html.DropDownListFor(x => x.MakerId, Model.Name, new { @class = "form-control custom-control", data_val = false })
                                     @*@if (!string.IsNullOrEmpty(Model.Filter.Type) || !string.IsNullOrEmpty(Model.Filter.Name))
                                     {
                                        @Html.DropDownListFor(x => x.TypeId, Model.Name, new { @class = "form-control custom-control" })
                                      
                                     }
                                     else
                                     {
                                        <select id="selectMake" onchange="LoadModel(this.value)" name="Name" class="form-control custom-control">
                                            <option selected value="">@Model.Content.GetVortoValue("makeSelect")</option>
                                        </select>
                                     }*@


                                 </div>

                                 <div class="form-group custom-group">
                                     <label>@Model.Content.GetVortoValue("model")</label>
                                     @Html.DropDownListFor(x => x.AutoModelID, Model.ModelName, new { @class = "form-control custom-control", data_val = false })
                                     
                                     

                                 </div>
                                 <div class="form-group custom-group">
                                     <label for="condition">@Model.Content.GetVortoValue("condition")</label>
                                     
                                     <div class="radio">
                                         <label><input type="radio" value="Any" name="Status" @(Model.Filter.Status == "Any" ? "checked" : (Model.Filter.Status != "New" || Model.Filter.Status != "Used") ? "checked" : "")>@Model.Content.GetVortoValue("statusAny")</label>
                                     </div>
                                     <div class="radio">
                                         <label><input type="radio" value="New" name="Status" @(Model.Filter.Status == "New" ? "checked" : "")>@Model.Content.GetVortoValue("statusNew")</label>
                                     </div>
                                     <div class="radio">
                                         <label><input type="radio" value="Used" name="Status" @(Model.Filter.Status == "Used" ? "checked" : "")>@Model.Content.GetVortoValue("statusUsed")</label>
                                     </div>
                                 </div>
                                 <div class="form-group custom-group">
                                     <label for="price">@Model.Content.GetVortoValue("price")</label>
                                     <select class="form-control custom-control" id="price" name="Price">
                                         <option value="" selected>@Model.Content.GetVortoValue("priceSelect")</option>
                                         <option value="10,000 – 30,000" @(Model.Filter.Price== "10,000 – 30,000" ? "selected":"") >10,000 – 30,000</option>
                                         <option value="30,001 – 60,000" @(Model.Filter.Price== "30,001 – 60,000" ? "selected":"")>30,001 – 60,000</option>
                                         <option value="60,001 – 90,000" @(Model.Filter.Price== "60,001 – 90,000" ? "selected":"")>60,001 – 90,000</option>
                                         <option value="90,001 – 100,000" @(Model.Filter.Price== "90,001 – 100,000" ? "selected":"")>90,001 – 100,000</option>
                                         <option value="100,001 – 150,000" @(Model.Filter.Price== "100,001 – 150,000" ? "selected":"")>100,001 – 150,000</option>
                                         <option value="150,000" @(Model.Filter.Price== "150,000" ? "selected":"")>150,000 + </option>
                                     </select>
                                 </div>
                                 <div class="form-group custom-group year-filters">
                                     <label for="year">@Model.Content.GetVortoValue("filterYear")</label>
                                     <div class="input-group">
                                         <input class="form-control custom-control" id="year" name="MinYear" placeholder="@Model.Content.GetVortoValue("yearMin")" value="@Model.Filter.MinYear">
                                         <span class="input-group-addon" style="visibility: hidden;"></span>
                                         <input class="form-control custom-control" placeholder="@Model.Content.GetVortoValue("yearMax")" name="MaxYear" value="@Model.Filter.MaxYear">
                                     </div>
                                 </div>


                                 <div class="form-group custom-group">
                                     <label for="engine">@Model.Content.GetVortoValue("engine")</label>
                                     @Html.DropDownList("EngineName", null, @Model.Content.GetVortoValue<string>("engineSelect"), new { @class = "form-control custom-control" })

                                 </div>
                                 <div class="form-group custom-group">
                                     <label for="transmission">@Model.Content.GetVortoValue("filterTransmision")</label>
                                    
                                     @Html.DropDownList("Transmission", null, @Model.Content.GetVortoValue<string>("selectTransmission"), new { @class = "form-control custom-control" })
                                     
                                 </div>
                            </div>
                            <div class="filter-box-footer">
                                 <div class="filter-btn">
                                     <button type="submit" id="filterButton" class="btn btn-custom-orange btn-block">@Model.Content.GetVortoValue("filterButton")<span class="pull-right"><i class="fa fa-chevron-circle-right"></i></span></button>
                                 </div>
                                 <div class="reset text-center">
                                     <a href="javascript:void(0)" onclick="ClearForm()">@Model.Content.GetVortoValue("resetButton")</a>
                                 </div>
                            </div>
                        </div>
                        <input type="hidden" id="SortOrder" name="SortOrder" value="@Model.Filter.SortOrder"/>
                     </form>
                </div>
           </div>
            <div class="col-md-9 col-lg-9">
                <div class="search-info-box">
                    <div class="left">
                   
                        @if(Model.Filter.FilterExist && Model.VehicleList.Count>0)
                        {
                            <span>
                                 @ViewBag.total @Model.Content.GetVortoValue("searchMessage")    
                            </span>
                        }
                        else if (Model.Filter.FilterExist && Model.VehicleList.Count == 0)
                        {
                            
                            <span >@Model.Content.GetVortoValue("noSearchMessage")</span>
                        }
                            </div>
                    <div class="right">
                        @if (System.Globalization.CultureInfo.CurrentCulture.Name == "ar")
                        {
                            <select class="form-control input-sm" onchange="ChangeOrder(this.value)">
                                <option value="" selected>@Model.Content.GetVortoValue("sorting") </option>
                                <option value="Price Low to High" @(Model.Filter.SortOrder == "Price Low to High" ? "selected" : "")>السعر من الارخص للاعلى</option>
                                <option value="High to Low" @(Model.Filter.SortOrder == "High to Low" ? "selected" : "")>الاعلى الى الادنى</option>
                                <option value="Name A - Z" @(Model.Filter.SortOrder == "Name A - Z" ? "selected" : "")>اسم أ - ي</option>
                                <option value="Name Z - A" @(Model.Filter.SortOrder == "Name Z - A" ? "selected" : "")>الاسم ي - أ</option>
                                <option value="Newest First" @(Model.Filter.SortOrder == "Newest First" ? "selected" : "")>الجديد أولا</option>
                                <option value="Oldest First" @(Model.Filter.SortOrder == "Oldest First" ? "selected" : "")>الأقدم أولا</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control input-sm" onchange="ChangeOrder(this.value)">
                                <option value="" selected>@Model.Content.GetVortoValue("sorting") </option>
                                <option value="Price Low to High" @(Model.Filter.SortOrder == "Price Low to High" ? "selected" : "")>Price Low to High</option>
                                <option value="High to Low" @(Model.Filter.SortOrder == "High to Low" ? "selected" : "")>High to Low</option>
                                <option value="Name A - Z" @(Model.Filter.SortOrder == "Name A - Z" ? "selected" : "")>Name A - Z</option>
                                <option value="Name Z - A" @(Model.Filter.SortOrder == "Name Z - A" ? "selected" : "")>Name Z - A</option>
                                <option value="Newest First" @(Model.Filter.SortOrder == "Newest First" ? "selected" : "")>Newest First</option>
                                <option value="Oldest First" @(Model.Filter.SortOrder == "Oldest First" ? "selected" : "")>Oldest First</option>
                            </select>
                        }
                        
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-9">
                                                        @if (Model.VehicleList.Count > 0)
                                                        {
                                                            foreach (var item in Model.VehicleList)
                                                            {
                                                                var title = item.YearName + " " + item.Maker + " " + item.AutoModelName + " " + item.SubModelName;


                                                                if (System.Globalization.CultureInfo.CurrentCulture.Name == "ar")
                                                                {
                                                                    if (title.Length > 100)
                                                                    {
                                                                        title = "..." + title.Substring(0, 100);
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (title.Length > 100)
                                                                    {
                                                                        title = title.Substring(0,100) + "...";
                                                                    }
                                                                }
                                                              <div class="box-item">
                                                                       <div class="box-body">
                                                                           <div class="item-img">
                                                                                                <a href="@Model.VehiclePageUrl?id=@item.VehicleID" title="@item.AutoModelName">
                                                                                                    @if (!string.IsNullOrEmpty(@item.ImageName))
                                                                                                    {
                                                                                                        if (item.ImageName.StartsWith("http://"))
                                                                                                        {
                                                                                                            <img src="@item.ImageName">
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            var url = Model.Url + "VehicleAttachments/" + item.ImageName;
                                                                                                            <img src="@url">
                                                                                                        }

                                                                                                    }
                                                                                                    else if (!string.IsNullOrEmpty(@item.ImageName2))
                                                                                                    {
                                                                                                        if (item.ImageName2.StartsWith("http://"))
                                                                                                        {
                                                                                                            <img src="@item.ImageName2">
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            var url = Model.Url + "VehicleAttachments/" + item.ImageName2;
                                                                                                            <img src="@url">
                                                                                                        }

                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <img src="/assets/images/audi-q7-2014-s-line-wallpaper-2.jpg">
                                                                                                    }
                                                                                                </a>
                                                                                            </div>
                                                                           <div class="item-info">
                                                                                                
                                                                                                <div class="item-title">
                                                                                                    <h5 class="item-make">@item.Maker</h5>
                                                                                                    <span class="item-model"><a href="@Model.VehiclePageUrl?id=@item.VehicleID"  title="@item.AutoModelName">@title</a></span>
                                                                                                    @if (item.VehiclePrice != null)
                                                                                                    {
                                                                                                        <span class="item-price">
                                                                                                            @String.Format("{0:#,##0}", @item.VehiclePrice) SAR
                                                                                                        </span>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                           <span class="item-price">
                                                                                                              N/A
                                                                                                            </span>
                                                                                                     }
</div>
                                                                                                <div class="item-detail">
                                                                                                    <ul class="item-detail-list">
                                                                                                        
                                                                                                        <li class="list-item">
                                                                                                            <i class="icon fa fa-cog"></i>
                                                                                                            <span class="left">@Model.Content.GetVortoValue("subModel")</span><span class="dot-line"></span>
                                                                                                            @if (!string.IsNullOrEmpty(item.SubModelName))
                                                                                                            {
                                                                                                                <span class="right">@item.SubModelName</span>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <span class="right">N/A</span>
                                                                                                            }
                                                                                                           
                                                                                                        </li>
                                                                                                        <li class="list-item">
                                                                                                            <i class="icon fa fa-car"></i>
                                                                                                            <span class="left">@Model.Content.GetVortoValue("exteriorColor")</span><span class="dot-line"></span>
                                                                                                                @if (!string.IsNullOrEmpty(item.ExteriorColor))
                                                                                                                {
                                                                                                                    <span class="right">@item.ExteriorColor</span>
                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    <span class="right">N/A</span>
                                                                                                                }
                                                                                                        </li>
                                                                                                        <li class="list-item">
                                                                                                            <i class="icon fa fa-paint-brush"></i>
                                                                                                            <span class="left">@Model.Content.GetVortoValue("interiorColor")</span><span class="dot-line"></span>
                                                                                                            @if (!string.IsNullOrEmpty(item.InteriorColor))
                                                                                                            {
                                                                                                                <span class="right">@item.InteriorColor</span>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <span class="right">N/A</span>
                                                                                                            }
                                                                                                          
                                                                                                        </li>
                                                                                                        <li class="list-item">
                                                                                                            <i class="icon fa fa-calendar"></i>
                                                                                                            <span class="left">@Model.Content.GetVortoValue("year")</span><span class="dot-line"></span>
                                                                                                            @if (!string.IsNullOrEmpty(item.YearName))
                                                                                                            {
                                                                                                                <span class="right">@item.YearName</span>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <span class="right">N/A</span>
                                                                                                            }
                                                                                                          
                                                                                                        </li>
                                                                                                        <li class="list-item">
                                                                                                            <i class="icon fa fa-upload"></i>
                                                                                                            <span class="left">@Model.Content.GetVortoValue("transmission")</span><span class="dot-line"></span>
                                                                                                         
                                                                                                            @if (!string.IsNullOrEmpty(item.AutoTransmission))
                                                                                                            {
                                                                                                                <span class="right">@item.AutoTransmission</span>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <span class="right">N/A</span>
                                                                                                            }
                                                                                                        </li>
                                                                                                        <li class="list-item">
                                                                                                            <i class="icon fa fa-circle"></i>
                                                                                                            <span class="left">@Model.Content.GetVortoValue("location")</span>
                                                                                                            <span class="dot-line"> </span>
                                                                                                             @if (!string.IsNullOrEmpty(item.VehicleAddress))
                                                                                                            {
                                                                                                                <span class="right">@item.VehicleAddress</span>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <span class="right">N/A</span>
                                                                                                            }
                                                                                                           
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                               
                          
                                                                                            </div>
                                                                           <div class="box-footer">
                                                                               <div class="f-btn">
                                                                                   <img src="/assets/images/auto_eva_old.png"><div class="rating">@Model.Content.GetVortoValue("vir")  
                                                                                    @if (item.TotalRatting != null && item.TotalRatting > 0)
                                                                                    {
                                                                                        @String.Format("{0:0.0}", item.TotalRatting)
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @String.Format("{0:0.0}", "4.0")
                                                                                    }
</div>
                                                                                  
                                                                               </div>
                                                                               <div class="f-btn">
                                                                                   <button class="btn btn-block slide-show" data-name="@item.AutoModelName" data-vehicleId="@item.VehicleID">@Model.Content.GetVortoValue("slideShow")</button>
                                                                               </div>
                                                                               

                                                                               <div class="f-btn">
                                                                                   <button class="btn btn-default btn-block" onclick="location.href='@Model.VehiclePageUrl?id=@item.VehicleID'" title="@item.AutoModelName">@Model.Content.GetVortoValue("viewDetail")</button>
                                                                               </div>
                                                                           </div>
                                                                       </div>
                                                                       
                                                               </div>
                                                            }
                                                        }
                                                       
                                                    <div class="pagination-box">
                                                        <div class="center">
                       


                                                            <ul>
                                                                <li class="prev"><a href="#"><i class="fa fa-backward"></i></a></li>

                                                                @for (int i=1; i<= Convert.ToInt32(ViewBag.TotalPages);i++)
                                                                {
                                                                    
                                                                        <li><a href = "/auction-vehicles/?page=@i@ViewBag.inv"> @i</a></li>
                                                                }

                                                               
                                                                <li class="next"><a href="#"><i class="fa fa-forward"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                      </div>
                                        </div>
                                            <div id="slide_show" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title" style="color: orangered"></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="custom-slide-show" >
                   
                                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
     <div id="gal"></div>
}
@section jsArea{
    <script type="text/javascript" src="/assets/jquery-ui/jquery-ui.js"></script>

    <script type="text/javascript" src="/assets/jQRangeSlider/jQRangeSlider-min.js"></script>
   
    <script type="text/javascript" src="/assets/scripts/inventory-list.js"></script>
    <script type="text/javascript" src="/assets/slimScroll/jquery.slimscroll.min.js"></script>

    <script>
        $(function () {
            var isMobile = (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent));
            var filterBox = $('.filter-box');
            var filterBoxContainer = $('.filter-box-container');
            var filterBoxContainerHeight = filterBoxContainer.height();
            var windowWidth = window.innerWidth;
            mobileConfig();
            $(window).on('resize', mobileConfig);
            function mobileConfig() {
                windowWidth = window.innerWidth;
                console.log("window outer width : " + windowWidth);
                if(isMobile || windowWidth < 992) {
                    console.log("is mobile");
                    if(!filterBox.hasClass('active')) {
                        filterBox.css({'left': '-' + filterBox.width() + 'px'});
                    }
                    $('.filter-toggle').css("display", "block");
                    $('.filter-box-close').css("display", "block");
                    filterBoxContainer.css('z-index', '1500');
                    if(filterBoxContainerHeight > $(window).height()) {
                        filterBoxContainer.slimScroll({
                            height: $(window).height() + 'px',
                            touchScrollStep: 50
                        });
                    }else {
                        filterBoxContainer.css({"height": 'auto'});
                        filterBoxContainer.slimScroll({
                            destroy: true
                        });
                    }
                } else {
                    console.log("is not mobile");
                    $('.filter-toggle').css("display", "none");
                    $('.filter-box-close').css("display", "none");
                    filterBoxContainer.css({'z-index': '1000', 'height' : 'auto'});
                    filterBoxContainer.slimScroll({
                        destroy: true
                    });
                }
            }
        });
        function ShowError() {
            alert("Det oppsett noen feil. Prøv senere!");
        }

        function ShowSuccess(data) {

            if (data.success) {
                $("#make_offer_modal").modal('hide');
                $("#make_offer_success_modal").modal();
            } else {


            }
        }
        $("#financing").change(function () {

            $("#Financing").val($("#financing").val());

        })
        function ChangeOrder(value) {

            $("#SortOrder").val(value);
            $("#filterButton").click()

        }
    </script>
}

