@model AutomaxWebSite.Models.MakeOfferViewModel

<div id="make_offer_modal" class="modal fade" role="dialog">
    <div class="modal-dialog custom-modal-make-offer">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Offer Form</h4>
            </div>
            <div class="modal-body">
                <p class="contact-text">Make an offer or contact us via email to arrange a test drive. You can also call us at 407.324.3339. Contact person Automax.</p>
              @using (Ajax.BeginForm("FeedbackForm", "InventorySurface", new { },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
                    UpdateTargetId = "callMeResult",
                    OnFailure = "ShowError()",
                    OnSuccess = "ShowSuccess(data)"
                }, new { @id = "formDynamic" }))
              {
                @Html.AntiForgeryToken()
                    <h5>Buyer Information</h5>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group custom-group">
                              @Html.TextBoxFor(x => x.FName, new { @class = "form-control custom-control ", @placeholder = "First Name" })
                              @Html.ValidationMessageFor(x => x.FName)
                              
                            </div>
                            <div class="form-group custom-group">
                                <input type="text" class="form-control custom-control" placeholder="Last Name">
                            </div>
                            <div class="form-group custom-group">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control custom-control ", @placeholder = "Email" })
                                @Html.ValidationMessageFor(x => x.Email)
                               
                            </div>
                            <div class="form-group custom-group">
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control custom-control ", @placeholder = "Phone" })
                                @Html.ValidationMessageFor(x => x.Phone)
                              
                            </div>
                            <div class="form-group custom-group">
                                @Html.TextBoxFor(x => x.InternationalPhone, new { @class = "form-control custom-control ", @placeholder = "Int. Phone Number" })
                                @Html.ValidationMessageFor(x => x.InternationalPhone)
                             
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group custom-group">
                                @Html.TextBoxFor(x => x.Address, new { @class = "form-control custom-control ", @placeholder = "Street Address" })
                                @Html.ValidationMessageFor(x => x.Address)
                              
                            </div>
                            <div class="form-group custom-group">
                                @Html.TextBoxFor(x => x.City, new { @class = "form-control custom-control ", @placeholder = "City" })
                                @Html.ValidationMessageFor(x => x.City)
                                
                            </div>
                            <div class="form-group custom-group">
                                <input type="text" class="form-control custom-control">
                            </div>
                            <div class="form-group custom-group">
                                @Html.TextBoxFor(x => x.Zip, new { @class = "form-control custom-control ", @placeholder = "Zip/Postal Code" })
                                @Html.ValidationMessageFor(x => x.Zip)
                              
                            </div>
                            <div class="form-group custom-group">
                                @Html.TextBoxFor(x => x.Country, new { @class = "form-control custom-control ", @placeholder = "Country" })
                                @Html.ValidationMessageFor(x => x.Country)
                               
                            </div>
                        </div>
                    </div>
                    <h5>Question or Comments</h5>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group custom-group">
                                @Html.TextAreaFor(x => x.Question, new { @class = "form-control custom-control ", @placeholder = "Question" })
                                @Html.ValidationMessageFor(x => x.Question)
                             
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group custom-group">
                                @Html.TextBoxFor(x => x.Offer, new { @class = "form-control custom-control ", @placeholder = "Make an Offer $" })
                               
                               
                            </div>
                            <div class="make-offer-label">Make an Offer $</div>
                            <label class="radio-inline"><input type="radio" name="MakeOffer" value="Yes">Yes</label>
                            <label class="radio-inline"><input type="radio" name="MakeOffer" value="No" checked>No</label>
                            <label class="checkbox-inline pull-right">
                            @Html.CheckBox("financing", Model.Financing)
                            @Html.HiddenFor(m => m.Financing)
                                Apply for Financing
                            </label>
                            <input type="hidden" name="VehicleName" id="VehicleName"/>
                        </div>
                        <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-6 col-sm-4 col-md-4 col-lg-4">
                            <button type="submit" class="btn btn-custom-orange btn-block">Submit</button>
                        </div>
                    </div>
              }
            </div>
        </div>
    </div>
</div>
<div id="make_offer_success_modal" class="modal fade" role="dialog">
    <div class="modal-dialog custom-modal-make-offer">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Offer Form</h4>
            </div>
            <p>Thanks For Make an Offer</p>
        </div>
    </div>
</div>