@using Our.Umbraco.Vorto.Extensions
@using AutomaxWebSite.Common
@{ 
    DataHelper obj = new DataHelper();
    var makeList = obj.GetMake();
    var modelList = obj.GetModel();
    var types = obj.GetVehiclesType().OrderBy(x=>x.Text);
}
@inherits UmbracoTemplatePage
@using AutomaxWebSite.Controllers
@{
   
    <div class="search-tab">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#car">@Model.Content.GetVortoValue("car")</a></li>
            <li><a data-toggle="tab" href="#budget">@Model.Content.GetVortoValue("budget")</a></li>
        </ul>
        <div class="tab-content">
            <div id="car" class="tab-pane fade in active">
            
                <form action="@(@System.Globalization.CultureInfo.CurrentCulture.Name=="ar"?"/ar/retail-vehicles/":"/retail-vehicles/")" method="get" id="priceForm">
                    <div class="row filter">
                        
                        <div class="col-md-7 col-lg-12">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group custom-group">
                                    <label for="make">@Model.Content.GetVortoValue("type")</label>
                                    @Html.DropDownList("VehicleTypeID", types,@Model.Content.GetVortoValue<string>("selectType"), new { @class = "form-control custom-control" })
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group custom-group">
                                    <label for="make">@Model.Content.GetVortoValue("make")</label>
                                    <select id="MakerId" onchange="LoadModel(this.value)" name="MakerId" class="form-control custom-control">
                                        <option value="">@Model.Content.GetVortoValue("selectMake")</option>
                                    </select>
                                    @*@Html.DropDownList("Name", makeList, "Select Make", new { @class = "form-control custom-control" })*@
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group custom-group">
                                    <label for="model">@Model.Content.GetVortoValue("model")</label>
                                    <select id="AutoModelID"  name="AutoModelID" class="form-control custom-control">
                                        <option value="" >@Model.Content.GetVortoValue("selectModel")</option>
                                    </select>
                                    @*@Html.DropDownList("ModelName", modelList, "Select Model", new { @class = "form-control custom-control" })*@


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row search-btn">
                        <div class="col-xs-offset-1 col-sm-offset-2 col-xs-5 col-sm-4 col-md-offset-4 col-lg-offset-4 col-md-2 col-lg-2">
                            <button class="btn btn-custom-orange btn-block">@Model.Content.GetVortoValue("button")</button>
                        </div>
                        <div class="col-xs-5 col-sm-4 col-md-2 col-lg-2">
                            <a class="btn btn-custom-nocolor btn-block" onclick="ClearHomeFilter()">@Model.Content.GetVortoValue("reset")</a>
                        </div>
                    </div>
                </form>
            </div>
            <div id="budget" class="tab-pane fade">
               
                <form action="@(@System.Globalization.CultureInfo.CurrentCulture.Name=="ar"?"/ar/inventory/":"/inventory/")" method="get" id="budgetForm">
                    <div class="row">
                        <div class="col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group custom-group">
                                <label>@Model.Content.GetVortoValue("selectPrice")</label>
                                <select class="form-control custom-control" id="price" name="Price">
                                    <option value="">-@Model.Content.GetVortoValue("selectPrice")-</option>
                                    <option value="10,000 – 30,000">10,000 – 30,000</option>
                                    <option value="30,001 – 60,000">30,001 – 60,000</option>
                                    <option value="60,001 – 90,000">60,001 – 90,000</option>
                                    <option value="90,001 – 100,000">90,001 – 100,000</option>
                                    <option value="100,001 – 150,000">100,001 – 150,000</option>
                                    <option value="150,000">150,000 + </option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row search-btn">
                        <div class="col-xs-offset-1 col-sm-offset-2 col-xs-5 col-sm-4 col-md-offset-4 col-lg-offset-4 col-md-2 col-lg-2">
                            <button class="btn btn-custom-orange btn-block">@Model.Content.GetVortoValue("button")</button>
                        </div>
                        <div class="col-xs-5 col-sm-4 col-md-2 col-lg-2">
                            <a class="btn btn-custom-nocolor btn-block" onclick="ClearHomeFilter()">@Model.Content.GetVortoValue("reset")</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}